#repeat-group: OPENAI_V1 suffix OPENAI_V1_PROVIDER OPENAI_V1_URL OPENAI_V1_PORT OPENAI_V1_KEY
#required: required
OPENAI_V1_PROVIDER=
#required: required
OPENAI_V1_URL=
#required: required
OPENAI_V1_PORT=443
#required: required
OPENAI_V1_KEY=
